@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

/* reset mini */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  font-family: "Quicksand", "Open-Sans";
  color: #000;
}

.quicksand {
  font-family: "Quicksand";
}

.open-sans {
  font-family: "Open Sans";
}

footer p {
  margin: 0;
}

i {
  margin-bottom: 5px;
}

.logo {
  height: 40px;
}

.logo img {
  height: inherit;
}

.text-centered {
  text-align: center;
}

.column-container {
  display: flex;
  flex-flow: column;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #4d6cab;
  padding: 10px 30px;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
  margin: 0px 10px;
  border-bottom: solid 1px transparent;
  transition: 0.5s;
}

.menu li:hover {
  border-bottom: solid 1px #fff;
}

.menu li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #fff;
  marker: none;
  font-family: "Open Sans";
}

.menu .search {
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 0px;
}

.main-search {
  height: 30px;
  padding-left: 15px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.menu .search span {
  color: #fff;
}

.img-banner {
  width: 490px;
}

.info-content h1 span {
  color: violet;
}

.info-content h2 {
  margin-bottom: 50px;
}

.container {
  margin-top: 30px;
}

.header {
  padding: 0px 40px 0px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-height: 100vh;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.15);
}

.header-info {
  height: auto;
  width: 100%;
  margin-left: 0;
  margin-right: 50px;
}

.header-info .open-sans{
  text-align: justify;
  font-size: 13px;
}

.header-info .open-sans {
  align-items: center;
  font-size: 18px;
}

.header-info h1 span {
  color: #ec74af;
}

.header-info p span {
  color: #ec74af;
}


.header-info p {
  margin-top: 40px;
}

.header-banner {
  background-size: cover;
  width: 50%;
}

.nasa-info {
    min-height: 600px;
    margin-bottom: 100px;
}

.nasa-info-content {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffdb99;
  min-height: 410px;
}

.scientist-img {
  position: absolute;
  margin-top: 40px;
  transform: translateX(-50px);
}

.scientist-img img {
  height: 530px;
}

.info-text {
  padding: 60px 29px 40px 250px;
  text-align: justify;
}

.register-content {
  width: 90%;
  /* background-color: aqua; */
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  border: 5px solid #ffdb99;
}

.form-content {
  display: flex;
  flex-flow: column;
  width: 80%;
}

.form-content input {
  margin: 10px 0px;
  height: 30px;
  padding-left: 5px;
}

button.btn-primary {
    border: none;
    background-color: #4d6cab;
    color: #fff;
    width: 150px;
    height: 30px;
    border-radius: 10px;
}

.footer {
  height: 90px;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #4d6cab;
  background-image: url(../images/silent_cosmic_PNG.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80px;
  margin-top: 30px;
  clear: both;
}

.footer p {
  padding: 10px;
}

.main {
  padding: 57px;
}

.separador {
  height: 30px;
  background-color: #ffdb99;
  margin-bottom: 30px;
}

.separador::after {
  content: " ";
  background-image: url(../images/4PNG.png);
  background-size: cover;
  position: relative;
  display: inline-block;
  top: 6px;
  width: 170px;
  height: 250px;
  right: -70%;
  top: -80px;
}

.menu-vertical {
  width: 150px;
  min-height: 800px;
  margin-right: 10px;
  background-color: #687a61;
}

.menu-vertical a {
  background-color: #687a61; /* Grey background color */
  color: #fff; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.table {
  border-collapse: collapse; 
  width: 80%;
  margin-left: 10px;
}

.btn{
  width: 75px;
}

td{
  text-align: center;
}

th {
  text-align: left;
}

.pageTitle h4{
    margin-left: 12%;
}

.carrossel{
  display: flex;
}

.carousel-caption{
  background-color: #000;
  opacity: 0.8;
  padding-top: 0;
}

.main-container {
  display: flex;
}

.form-wrapper {
  margin-top: 100px;
}

.form-wrapper form .form-content {
  width: 50%;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper input {
  width: 45%;
}

.button-container {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
}

.employee-management {
  width: 100%;
}

.employees {
  margin-top: 15px;
}

.employee-card {
  display: flex;
  min-height: 125px;
  margin-top: 10px;
}

.employee-photo {
  background-image: url(../images/5.png);
  background-size: cover;
  width: 100px;
}

.employee-data {
  margin-left: 5px;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}